@mixin button {
  border-radius: $border-radius;
  background: $button-background;
  border: $button-border;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  height: 2rem;
  display: flex;
  align-items: center;

  &:hover {
    background: $button-background-hover;
  }

  &--active, &--active:hover {
    background: map-get($gray, dark);
    border-color: map-get($gray, dark);
    color: map-get($gray, lightest);
  }
}

@mixin status-bar {
  flex-shrink: 0;
  background: $panel-background;
  border-top: $panel-border;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;

  &__center {
    margin: 0 auto;
  }

  &__left, &__right {
    display: flex;
  }

  &__button {
    @include button;
  }
}
