$gray: (
  lightest: #fafbfc,
  lighter: #e1e4e8,
  light: #ccc,
  default: #666
);

$panel-background: map-get($gray, lightest);
$panel-border-color: map-get($gray, lighter);
$panel-border-width: 1px;
$panel-border: $panel-border-width solid $panel-border-color;

$button-background: map-get($gray, lighter);
$button-background-hover: map-get($gray, lightest);
$button-border: 1px solid map-get($gray, light);

$input-border: 1px solid map-get($gray, lighter);

$highlight-background: #378ad3;
$highlight-foreground: map-get($gray, lightest);

$border-radius: 6px;
